<a href="{{ site.repo }}/edit/master/{{ page.path }}" target="_blank"><i class="fa fa-edit fa-fw"></i> Seite bearbeiten</a>
<a href="{{ site.repo }}/issues/new?labels={% if page.editable %}{{ page.editable }}{% else %}question{% endif %}&issue[title]=Frage:&issue[description]=Frage zu: {{ site.repo }}/tree/master/{{ page.path }}" target="_blank"><i class="fab fa-gitlab fa-fw"></i> Dokumentations-Issue erstellen</a>
<a href="{{ site.repo_project }}/issues/new" target="_blank"><i class="fas fa-tasks fa-fw"></i> Projekt Issue erstellen</a>
<!-- this will parse through the header fields and add a button to open
     an issue / ask a question on Gitlab. The editable field should be in
     the post frontend matter, and refer to the label to open the issue for -->
