<hr style="margin-top: 5rem; margin-bottom: 5rem;" />

<div class="row featurette">
  {% if include.image_left %}
    <div class="col-md-5">
      <img class="featurette-image img-responsive center-block" src="{{ site.baseurl }}/assets/img/{{ include.image_path }}" alt="{{ include.image_alt }}">
    </div>
  {% endif %}
  <div class="col-md-7">
    <div class="featurette-content">
      <h2 class="featurette-heading">{{ include.headline }}</h2>
      <p class="lead">{{ include.text }}</p>
      {% if include.button_link %}
      <p><a class="btn btn-primary" href="{{ include.button_link }}" role="button">
        {% if include.button_text %} {{ include.button_text }} {% else %} Mehr erfahren &raquo; {% endif %}
      </a></p>
      {% endif %}
    </div>
  </div>
  {% if include.image_left == false %}
    <div class="col-md-5">
      <img class="featurette-image img-responsive center-block" src="{{ site.baseurl }}/assets/img/{{ include.image_path }}" alt="{{ include.image_alt }}">
    </div>
  {% endif %}
</div>
