{% for schema in site.data.graphql_schema.data.__schema.types %}
{% if schema.kind == include.kind %}
### {{ schema.name }}
{% if schema.fields %}
Fields:
<ul>
{% for field in schema.fields %}
<li>
  Name: {{ field.name }}<br>
  {% if field.description %}
    Description: {{ field.description }}<br />
    Argumente: {{ field.args }}<br />
    Ausgaben: {{ field.type }}
  {% endif %}
</li>
{% endfor %}
</ul>
{% endif %}
{% endif %}
{% endfor %}
