<header>
    <nav class="js-navbar-scroll navbar navbar-expand navbar-dark flex-column flex-md-row td-navbar">
    <a class="navbar-brand" href="{{ site.baseurl }}/">
        <span class="navbar-logo"></span>{% include logo.svg %}<span class="font-weight-bold">{{ site.title }}</span>
	</a>
	<div class="td-navbar-nav-scroll ml-md-auto" id="main_navbar">
		<ul class="navbar-nav mt-2 mt-lg-0">{% if site.repo %}
			{% endif %}{% for link in site.data.navigation %}
			<li class="nav-item mr-4 mb-2 mb-lg-0">
                <a class="nav-link" href="{% if link.url %}{{ site.baseurl }}{{ link.url }}{% else %}{{ link.external_url }}{% endif %}" ><span>{{ link.title }}</span></a>
			</li>{% endfor %}
		</ul>
	</div>
	<div class="navbar-nav d-none d-lg-block">
        <input type="search" class="form-control td-search-input" placeholder="&#xf002 Seite durchsuchen…" aria-label="Seite durchsuchen…" autocomplete="off">
    </div>

	<div class="navbar-nav d-none d-lg-block">
        <a class="gh-source" data-gh-source="github" href="{{ site.repo_project }}" title="Go to repository" data-md-state="done">
            <div class="gh-source__repository">
            <i class="fab fa fa-gitlab fa-2x" style='padding-right:20px; float:left; margin-top:5px'></i>
            project-q
            </div>
        </a>
    </div>

</nav>
</header>
