// Brand Colors
$q-green:        #00A347;
$q-green-dark:   #007014;
$q-green:        #00A347;
$q-white:        #FFFFFF;
$q-gray:         #575856;
$q-darkgray:     #1F1E1E;

// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: $q-green !default;
$header-bg-color-secondary: $q-green-dark !default;

// Text
$section-headings-color: $q-green !default;
$body-text-color: #606c71 !default;
$body-link-color: $q-green-dark !default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;

// Bootstrap
$primary:                               $q-green;
$secondary:                             $q-gray;
$tertiary:                              $q-darkgray;
$white:                                 #FFFFFF;
$black:                                 #000000;
$gray:                                  #5f5f5f;
$gray-light:                            #f7f7f9;
$gray-semilight:                        #efefef;

$body-color:                            $q-darkgray;
$body-bg:                               $white;

$headline-color:                        $primary;
$headline-background:                   $white;

$link-color:                            $primary;
$link-decoration:                       none;
$link-hover-color:                      $tertiary;
$link-hover-decoration:                 underline;
