<!DOCTYPE html>
<html lang="{{ site.lang | default: "de" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style-landing.css">
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
        <a href="https://gitlab.com/project-q" class="button">Auf GitLab ansehen</a>
        <a href="docs/erste-schritte" class="button">Erste Schritte</a>
        <a href="docs/" class="button">Dokumentation</a>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
          <span class="site-footer-owner"><a href="{{ site.repo_project }}">Q</a></span>
      </footer>
    </main>
  </body>
</html>
